<div class="spinner-border text-success textLoader"   *ngIf="!showLoader" ></div>
<div  *ngIf="!showLoader" style="text-align: center; margin-top: -5px;  font-size: 18px; color: #000;">Loading</div>

<div  *ngIf="showLoader">
  <div class="card" *ngFor="let item of mArticles | paginate:{itemsPerPage: 1, currentPage:p}" style="width:50%; margin-bottom: 20px; margin-left: 25%;">
    <img src="{{item.urlToImage}}" height="350" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{item.content}}</li>
      <li class="list-group-item">See More: {{item.url}}</li>
    </ul>
</div>
<div class="paginationCss" *ngIf="mArticles"><pagination-controls  (pageChange)="p=$event"></pagination-controls></div>

