<div class="loader"  *ngIf="showLoader" style="color:black; text-align: center; font-size: 18px;">Loading...</div>

<div  *ngIf="!showLoader">
  <div class="card" *ngFor="let item of mArticles" style="width:50%; margin-bottom: 20px; margin-left: 25%;">
    <img src="{{item.urlToImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{item.content}}</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="{{item.url}}" class="card-link">More Details</a>
    </div>
  </div>
</div>

