<div class="carousel-item">
    <img src="..." alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h5>you liked {{likeContent}}</h5>
      <h5>you disliked {{dislikeContent}}</h5>
    </div>
  </div>

      <div class="alert alert-success"*ngIf="likeContent" role="alert">
        you liked:
        {{likeContent}}
      </div>


      <div class="alert alert-primary" *ngIf="dislikeContent" role="alert">
        you disliked:
        {{dislikeContent}}
      </div>

     <div style="color: blue; font-size: 20px; text-align: center;" >
      Here Scan the QR code
        <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value">
          </ngx-qrcode>
     </div>
      